<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.victor.zuritechtask2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/zuri"
        android:label="@string/app_name"
        android:roundIcon="@drawable/zuri"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZuritechTask2">
        <activity android:name=".InputDetailsActivity"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SplahScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>